<?xml version="1.0" encoding="UTF-8"?>
<!-- 只需配置好 log.dir 和 projectname 属性-->
<configuration debug="false">
	<property name="log.dir" value="/alidata1/admin/typhon" />
	<property name="zatvlog.dir" value="/alidata1/admin/logs/zatv-typhon" />
	<property name="projectname" value="typhon" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="infoAppenderRule"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/${projectname}.log</file>
		<!--	<filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter> -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/logs/${projectname}-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] [trace=%X{X-Trace-Id:-},span=%X{X-Span-Id:-},parent=%X{X-Parent-Id:-},name=%X{X-Span-Name:-},app=%X{appname:-},begintime=%X{begintime:-}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="errorAppenderRule"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/monitor_${projectname}_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/logs/${projectname}-error-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="zatvlogRule"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${zatvlog.dir}/zatv_typhon-ss_micro_app_typhon_lt_biz.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${zatvlog.dir}/zatv_typhon-ss_micro_app_typhon_lt_biz-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>
	

	<appender name="infoAppender"
			  class="ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>2048</queueSize>.
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="infoAppenderRule" />
		 <includeCallerData>true</includeCallerData>
	</appender>

	<appender name="errorAppender"
			  class="ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>2048</queueSize>.
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="errorAppenderRule" />
 		<includeCallerData>true</includeCallerData>
	</appender>


	<logger name="org.apache">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</logger>


	<logger name="com.netflix">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</logger>
    <logger name="zatvlogRule">
        <level value="INFO" />
        <appender-ref ref="zatvlogRule" />
    </logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--&lt;!&ndash; Logback Configuration.  &ndash;&gt;-->
<!--<configuration debug="false">-->
	<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
		<!--<target>System.out</target>-->
		<!--<encoder charset="UTF-8"> &lt;!&ndash; encoder 可以指定字符集，对于中文输出有意义 &ndash;&gt;-->
			<!--<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->

	<!--<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
		<!--<filter>-->
			<!--<level>TRACE</level>-->
		<!--</filter>-->
		<!--&lt;!&ndash; 可让每天产生一个日志文件，最多 30 个，自动回滚 &ndash;&gt;-->
		<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
			<!--<fileNamePattern>${za.mycat_ops.log.dir}/mycat_ops-%d{yyyy-MM-dd}.log</fileNamePattern>-->
			<!--<maxHistory>30</maxHistory>-->
		<!--</rollingPolicy>-->
		<!--<file>${za.mycat_ops.log.dir}/mycat_ops.log</file>-->
		<!--<encoder charset="GBK"> &lt;!&ndash; encoder 可以指定字符集，对于中文输出有意义 &ndash;&gt;-->
			<!--<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->


	<!--<appender name="DataCompensationFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
		<!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
			<!--<evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator">-->
				<!--<expression>-->
					<!--e.level.toInt() >= INFO.toInt() &amp;&amp;  &lt;!&ndash; Stands for && in XML &ndash;&gt;-->
					<!--e.loggerName == 'DataCompensationFILEASYNC'-->
				<!--</expression>-->
			<!--</evaluator>-->
			<!--<OnMismatch>DENY</OnMismatch>-->
			<!--<OnMatch>NEUTRAL</OnMatch>-->
		<!--</filter>-->
		<!--&lt;!&ndash; 可让每天产生一个日志文件，最多 30 个，自动回滚 &ndash;&gt;-->
		<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
			<!--<fileNamePattern>${za.mycat_ops.log.dir}/mycat_ops-data-%d{yyyy-MM-dd}.log</fileNamePattern>-->
			<!--<maxHistory>30</maxHistory>-->
		<!--</rollingPolicy>-->
		<!--<file>${za.mycat_ops.log.dir}/mycat_ops-data.log</file>-->
		<!--<encoder charset="GBK"> &lt;!&ndash; encoder 可以指定字符集，对于中文输出有意义 &ndash;&gt;-->
			<!--<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->


	<!--<logger name="org.apache">-->
		<!--<level value="INFO" />-->
	<!--</logger>-->

	<!--<logger name="org.springframework">-->
		<!--<level value="INFO" />-->
	<!--</logger>-->

	<!--<logger name="com.alibaba.citrus.springext.support.context">-->
		<!--<level value="INFO" />-->
	<!--</logger>-->



	<!--<appender name="RollingFileASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
		<!--&lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;-->
		<!--<discardingThreshold>0</discardingThreshold>-->
		<!--&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;-->
		<!--<queueSize>2048</queueSize>-->
		<!--&lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;-->
		<!--<appender-ref ref="RollingFile" />-->
	<!--</appender>-->

	<!--<appender name="DataCompensationFILEASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
		<!--&lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;-->
		<!--<discardingThreshold>0</discardingThreshold>-->
		<!--&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;-->
		<!--<queueSize>2048</queueSize>-->
		<!--&lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;-->
		<!--<appender-ref ref="DataCompensationFILE" />-->
	<!--</appender>-->


	<!--<root>-->
		<!--<level value="INFO" />-->
		<!--<appender-ref ref="STDOUT" />-->
		<!--<appender-ref ref="RollingFileASYNC" />-->
		<!--<appender-ref ref="DataCompensationFILEASYNC" />-->
	<!--</root>-->

	<!--<logger name="DataCompensation" level="INFO" additivity="false">-->
		<!--<appender-ref ref="DataCompensationFILE"/>-->
	<!--</logger>-->

<!--</configuration>-->



